<!-- <div><img src="../assets/images/logo.jpg" id="logo" ></div>    -->

<div class="navbar">
    <a routerLink="/home" routerLinkActive="active" class="active btna">Home</a>
    <a routerLink="/sports" routerLinkActive="active" class="btna">Sports</a>
    <a routerLink="/about-us" routerLinkActive="active" class="btna">About us</a>
    <a routerLink="/contact-us" routerLinkActive="active" class="btna">Contact us</a>
    <a routerLink="/login" routerLinkActive="active" class="btna">Login</a>
</div>

