<div class="row">

<div class="col">

  <form #contactusForm="ngForm" id="cform" (ngSubmit)="handleSubmit();contactusForm.reset()">


  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" class="form-control" [(ngModel)]="model.email" required>
  </div>  


  <div class="form-group">
    <label for="query">Query:</label>
    <textarea id="query" name="query" rows="4" cols="50" class="form-control" [(ngModel)]="model.query" required></textarea>
  </div>  


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

</div>